svg {
  font-family: Sans-Serif, Arial;
}
.line {
  stroke-width: 2;
  fill: none;
}

.axis path {
  stroke: black;
  fill: none;
}

.text {
  font-size: 12px;
}

.title-text {
  font-size: 12px;
}

.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
}

/* beginning of choropleth style */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  /* padding: 40px; */
}

a {
  color: #333399;
}
a:hover {
  color: #ff0099;
}

.states {
  stroke: #fff;
  stroke-width: 1px;
}
.states:hover {
  opacity: 0.6;
}

.legendLinear text {
  font-size: 9px;
}
/* .d3-tip {
line-height: 1;
padding: 15px;
background: rgba(43, 43, 43, 0.8);
color: #fff;
border-radius: 2px;
} */

.d3-tip {
  line-height: 1.5;
  font-weight: 400;
  font-family: "avenir next", Arial, sans-serif;
  padding: 6px;
  background: rgba(0, 0, 0, 0.6);
  color: #FEEBE6;
  border-radius: 1px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 8px;
  width: 100%;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.6);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}

/* end of choropleth styling */

/*styling for piechart*/

.pie {
  margin: 20px;
  /* float: left; */
}

/* svg {
    float: left;
  }  */

.legend {
  float: left;
  font-family: "Verdana";
  font-size: 0.5em;
}

.pie text {
  font-family: "Verdana";
  fill: #000;
}

.pie .name-text {
  font-size: 0.5em;
}

.pie .value-text {
  font-size: 1em;
}

/*for placing graphs side by side*/

/*pie chart styling */

.arc path {
  stroke: #fff;
}

.colD {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  background-color: #000;
}

.colD div {
  display: block;
}

/*button styling */

.button {
  background-color: #e7e7e7;
  color: black; /* Gray */
  border: none;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}