<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Final Project</title>
  
  <link rel="stylesheet" href="../static/main.css"> 
</head>

<body>
  <h1 style ="text-align: center"> Data Analysis of Police Fatality in the United States of America</h1>

  <!-- <div id="my_barchart"></div> -->
 
  <div id="hdata"></div>
  <!-- <div id="mybarchart"></div> -->
  <!-- <div id = "pcp"></div>
  <div id = "myscatterplot"></div> -->
</body>

<script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script>

<!-- <script src="../static/scatterplot.js"></script> -->
<!-- <script src="../static/v_barchart.js"></script> -->
<script src="../static/h_barchart.js"></script> 


<!-- <script src="../static/pcp.js"></script>
<script src="../static/index.js"></script> -->


</html>